{% extends 'base.html' %} {% block content %}

<h1 class="text-center">Welcome to The Story Hub Book shop</h1>
<p>
  At Story Hub , we believe that every book holds a world of possibilities.
  Whether you’re a lifelong bibliophile or just starting your reading journey,
  our carefully curated selection has something for everyone
</p>
<p>
  Discover Our Collection Dive into our extensive range of genres, from timeless
  classics and contemporary fiction to thrilling mysteries and inspiring
  non-fiction. Explore our shelves to find: - **Best Sellers:** Stay up-to-date
  with the hottest titles.
</p>
<h5>Staff Picks:</h5>
<p>Discover our team’s favorite reads and hidden gems.</p>
<h5>Shop Online</h5>
<p>
  Can’t make it to the store? No problem! Browse our online shop and have your
  favorite books delivered right to your door.
</p>

{% endblock content %}
