{% extends 'base.html' %} {% block content %}

<form action="/register" method="POST">
  {% csrf_token %}
  <div class="mb-3">
    <label class="form-label">User name</label>
    <input type="text" class="form-control" name="username" />
  </div>
  <div class="mb-3">
    <label class="form-label">User Email</label>
    <input type="text" class="form-control" name="useremail" />
  </div>
  <div class="mb-3">
    <label class="form-label">User Phone</label>
    <input type="text" class="form-control" name="userphone" />
  </div>
  <div class="mb-3">
    <label class="form-label">Password</label>
    <input type="password" class="form-control" name="password" />
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock content %}
